* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100dvh;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.logo {
  /* flex: auto; */
  margin-right: 10px;
  /* padding-right: 130px; */
}
.clg_logo {
  /* flex: auto; */
  margin-right: 40px;
  /* width: 40px; */
  /* padding-left: 290px; */
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDatils {
  outline: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  margin: 40px 0;
}
.userDatils input,
.userDatils select {
  display: block;
}
input,
select {
  padding: 8px 12px;
  font-size: 1.2rem;
  margin: 10px;
}
label {
  font-size: 1.2rem;
  margin: 10px;
}
hr {
  border-color: black;
}
.btn-container {
  /* outline: 1px solid red; */
  /* display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content:flex-end; */
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}
button {
  padding: 8px 12px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #000;
  background-color: #fff;
  transition: 0.4s ease;
  /* border-radius: 60px 70px 40px 140px; */
}
button:hover {
  color: white;
  background-color: #000;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 697px) {
  h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
